
<div>
    <div [ngClass]="[this.getTaskListByPage(currentPage).length>0 ? 'new-todo' : 'new-todo todoapp' ]">
        <label class="toggle-all"  [ngStyle]="{'color': this.IsAllComplete ? 'lightslategray' : ''}" textWrap="true" (click)="onChangeAllStatus()" > {{this.Icon}}</label>
        <input class="input-list" [(ngModel)]="this.defaultInput" placeholder={{defaultInput}} (focus)="this.onFocus()" (focusout)="onFocusOutEvent($event)" (keydown.enter)="save($event);"  />
    </div>
    <div *ngFor="let task of this.getTaskListByPage(currentPage)"><app-item [item]="task"></app-item></div>
    
    <div *ngIf="this.TaskCount>0" class="page-footer" style="box-shadow:none;justify-content:center; text-align:center; vertical-align:middle; line-height: 50px;">
        <button [disabled]="!this.ShowPre"  class="page-selector-btn" (click)="this.resetPage(false)">〈 </button>
        <div> {{this.currentPageCount}}/{{this.TotalPage}}</div>
        <button [disabled]="!this.ShowNext" class="page-selector-btn" (click)="this.resetPage(true)"> 〉</button>
    </div>
    <div *ngIf="this.HasTask" class="page-footer" > 
        <div style="width: 20%;">{{this.LeftMsg}}</div>
        <div>
            <label class="page-tab-btn page-tab-border" [ngStyle]="{'border': this.currentPage === 0 ? '1px solid  rgba(175, 47, 47, 0.2)' : ''}" (click)="onSelect(0)">All</label>
            <label class="page-tab-btn page-tab-border" [ngStyle]="{'border': this.currentPage === 1 ? '1px solid  rgba(175, 47, 47, 0.2)' : ''}" (click)="onSelect(1)" >Active</label>
            <label class="page-tab-btn page-tab-border" [ngStyle]="{'border': this.currentPage === 2 ? '1px solid  rgba(175, 47, 47, 0.2)' : ''}" (click)="onSelect(2)">Completed</label>
        </div>
        <div style=" display:block; width:26%; text-align-last: right;" ><label class="page-tab-btn clear-btn" *ngIf="this.HasTickedYet" (click)="onbtnRemoveAllCompletedTasks()">Clear completed</label></div>
    </div>

</div>