.page-footer{
    display: flex; 
    justify-content:space-between; 
    padding:2% 2% 2% 5% ;
    color: inherit;
    background:white;
    border: 1px solid #999;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px, rgb(246, 246, 246) 0px 8px 0px -3px, rgba(0, 0, 0, 0.2) 0px 9px 1px -3px, rgb(246, 246, 246) 0px 16px 0px -6px, rgba(0, 0, 0, 0.2) 0px 17px 2px -6px;
    overflow: hidden;
}

.page-tab-btn{
   padding:3px 7px;;
   border: 1px solid transparent;
   background-color: transparent;
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.4em;
   color: inherit;
   height: 100%;
   margin: 0 4px 0 4px;
}

.clear-btn:hover{
  text-decoration-line: underline;
  border: none;
  
 }


.page-tab-border{
    color: inherit;
    border-radius: 3px;
 }

.page-tab-border:hover{
    border: 1px solid rgba(190, 65, 65, 0.1);
}
